{% extends "cities/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h2>select a city</h2>

	<p>inspired by 
		<a href="https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html">
			How to Implement Dependent/Chained Dropdown List with Django
		</a>
	</p>

	<form method="post" id="cityForm" data-regions-url="{% url 'cities:ajax_load_regions' %}" data-cities-url="{% url 'cities:ajax_load_cities' %}" novalidate>
		{% csrf_token %}
		<table>
		  {{ form.as_table }}
		</table>
		<button type="submit">Save</button>
		<a href="{% url 'cities:home' %}">Nevermind</a>
	</form>



{% endblock content %}

{% block javascript-app %}
<script>
	$("#id_country").change(function () {
		console.log('cliccato COUNTRY') // DEBUG
 		var url = $("#cityForm").attr("data-regions-url");  // get the url of the `load_regions` view
		//console.log(url)	// DEBUG
	    var countryId = $(this).val();  // get the selected country ID from the HTML input
		//console.log(countryId) //DEBUG
	  	$.ajax({                       // initialize an AJAX request
			url: url,                    // set the url of the request (= localhost:8000/cities/ajax/load-regions/)
			data: {
		  		'country': countryId       // add the country id to the GET parameters
			},
			success: function (data) {   // `data` is the return of the `load_regions` view function
				//console.log(data) // DEBUG
		  		$("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
			}
	  	});
	}); 
</script>
<script>
	$("#id_region").change(function () {
		console.log('cliccato REGION') // DEBUG
 		var url = $("#cityForm").attr("data-cities-url");  // get the url of the `load_regions` view
		//console.log(url)	// DEBUG
	    var regionId = $(this).val();  // get the selected country ID from the HTML input
		//console.log(regionId) //DEBUG
	  	$.ajax({                       // initialize an AJAX request
			url: url,                    // set the url of the request (= localhost:8000/cities/ajax/load-regions/)
			data: {
		  		'region': regionId       // add the country id to the GET parameters
			},
			success: function (data) {   // `data` is the return of the `load_regions` view function
				//console.log(data) // DEBUG
		  		$("#id_name").html(data);  // replace the contents of the city input with the data that came from the server
			}
	  	});
	}); 
</script>
{% endblock javascript-app %}